<footer class="relative max-w-screen-2xl mx-auto p-2" role="contentinfo">
    <div class="site-footer__inner w-full max-w-screen-2xl mx-auto my-0 px-4 py-8">
        <p>
            <span>Design & code &copy; {{ build.timestamp | dateToFormat('yyyy') }} Aris Ripandi</span>
        </p>
    </div>
</footer>
