
<div class="max-w-screen-xl mx-auto px-5">
    <header class="flex flex-col lg:flex-row justify-between items-center my-5">
        <div class="flex w-full lg:w-auto items-center justify-between">
            <a href="/" class="flex py-2 items-center gap-1.5">
				<span class="i-lucide-activity h-5 w-5"></span>
                <span class="text-lg font-bold text-gray-800 dark:text-gray-100">v60 Eleventy Vite</span>
				<span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-primary-600 rounded-full">
					beta
				</span>
            </a>
            <div class="block lg:hidden">
                <button id="v60nav-menu" aria-label="Toggle Menu">
					<span class="i-lucide-menu h-5 w-5 text-gray-800"></span>
                </button>
            </div>
        </div>
        {% include "navigation.njk" %}
        <div>
            <div class="hidden lg:flex items-center gap-6">
                <a
                    href="/contact"
                    class="flex py-2 items-center text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-300">
                    <span>Contact</span>
                </a>
                <a
                    href="https://twitter.com/intent/follow?original_referer={{ meta.url }}&screen_name=riipandi"
                    class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-4 py-1.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent"
					target="_blank" rel="noopener">
                    Follow me
                </a>
            </div>
        </div>
    </header>
</div>
