<header class="relative flex justify-between max-w-screen-2xl mx-auto p-4" role="banner">
    <div class="site-header__container">
        <div class="site-header__left">
            <p>
                <strong>v60 Eleventy Vite</strong>
            </p>
        </div>
        <div class="site-header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
