{# <header class="relative flex justify-between max-w-screen-2xl mx-auto p-4" role="banner">
    <div class="site-header__container">
        <div class="site-header__left">
            <p>
                <strong>v60 Eleventy Vite</strong>
            </p>
        </div>
        <div class="site-header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header> #}
<div class="max-w-screen-xl mx-auto px-5">
    <header class="flex flex-col lg:flex-row justify-between items-center my-5">
        <div class="flex w-full lg:w-auto items-center justify-between">
            <a href="/" class="flex py-2 items-center">
                <span class="text-lg font-bold text-gray-800 dark:text-gray-100">v60 Eleventy Vite</span>
				<span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-primary-600 rounded-full">
					beta
				</span>
            </a>
            <div class="block lg:hidden">
                <button id="astronav-menu" aria-label="Toggle Menu">
                    <svg
                        fill="currentColor"
                        class="w-4 h-4 text-gray-800"
                        width="24"
                        height="24"
                        viewbox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Toggle Menu</title>
                        <path
                            class="astronav-close-icon astronav-toggle hidden"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M18.278 16.864a1 1 0 01-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 01-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0
                                011.414-1.414l4.829 4.828 4.828-4.828a1 1 0 111.414 1.414l-4.828 4.829 4.828 4.828z"></path>
                        <path
                            class="astronav-open-icon astronav-toggle"
                            fill-rule="evenodd"
                            d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2z"></path>
                    </svg>
                </button>
            </div>
        </div>
        {% include "navigation.njk" %}
        <div>
            <div class="hidden lg:flex items-center gap-6">
                <a
                    href="/contact"
                    class="flex py-2 items-center text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-300">
                    <span>Contact</span>
                </a>
                <a
                    href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fv60-demo.netlify.app%2F&screen_name=riipandi"
                    class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-4 py-1.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent"
					target="_blank" rel="noopener">
                    Follow me
                </a>
            </div>
        </div>
    </header>
</div>
