<nav
    class="v60nav-items v60nav-toggle hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0"
    role="navigation"
    tabindex="-1">
    <ul class="flex flex-col lg:flex-row lg:gap-5">
        {%- for item in collections.all | eleventyNavigation -%}
            {%- if item.url -%}
                {%- set isCurrent = (item.url == page.url) -%}
                {%- set isParent = item.url != '/' and item.url in page.url -%}
                <li class="nav__item{% if isCurrent or isParent %} nav__item--active{% endif %}">
                    <a class="flex lg:px-3 py-2 items-center text-gray-600 dark:text-gray-400 dark:hover:text-gray-300 hover:text-gray-900 {% if isCurrent %}underline{% else %}no-underline{% endif %}" href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}" {% if isCurrent %} aria-current="page" {% endif %}>
                        {{ item.title }}
                    </a>
                </li>
            {%- endif -%}
        {%- endfor -%}
        <li class="relative">
            <menu class="v60nav-dropdown group" aria-expanded="false">
                <button class="flex items-center gap-1 w-full lg:w-auto lg:px-3 py-2 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300">
                    <span>Features</span>
					<span class="i-lucide-chevron-down h-4 w-4 w-3 h-3 mt-0.5 group-open:rotate-180"></span>
                </button>
                <div class="v60nav-dropdown dropdown-toggle hidden animate-in fade-in zoom-in duration-300" aria-expanded="false">
                    <div class="lg:absolute w-full lg:w-48 z-10 lg:left-0 origin-top-left">
                        <div class="px-2 lg:py-2 lg:bg-white lg:rounded-md lg:shadow lg:border flex flex-col gap-0.5 text-sm">
                            <a href="/" class="py-1.5 px-2.5 rounded text-gray-600 hover:text-gray-900 hover:bg-gray-100">
                                This is an action
                            </a>
                            <a href="#" class="py-1.5 px-2.5 rounded text-gray-600 hover:text-gray-900 hover:bg-gray-100">
                                Another action
                            </a>
                            <a href="#" class="py-1.5 px-2.5 rounded text-gray-600 hover:text-gray-900 hover:bg-gray-100">
                                Dropdown Submenu
                            </a>
                            <a href="/404" class="py-1.5 px-2.5 rounded text-gray-600 hover:text-gray-900 hover:bg-gray-100">
                                Example 404 Page
                            </a>
                        </div>
                    </div>
                </div>
            </menu>
        </li>
    </ul>
    <div class="lg:hidden flex items-center mt-3 gap-4">
        <a
            href="#"
            class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-gray-100
                hover:bg-gray-200 border-2 border-transparent">
            Log in
        </a>
        <a
            href="#"
            class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black
                text-white hover:bg-gray-800 border-2 border-transparent">
            Sign up
        </a>
    </div>
</nav>
