/.cache
/build
/tmp
/dist
/docs
/target
.next
.fleet
.github
.vscode
.DS_Store
.DS_Store?
.dockerignore
Dockerfile
node_modules
npm-debug.log
README.md
DEPLOY.md
*.log
.env*
compose-*.yml
docker-compose*.yml
_site/
_tmp/
