<footer class="mt-20 mb-10 max-w-screen-xl mx-auto px-5 lg:px-10">
    <div class="flex justify-between">
        <div class="text-left">
            <p class="text-sm text-gray-500">
                &copy; {% currentYear %} Your Company. All rights reserved.
            </p>
            <p
                class="text-xs text-gray-500 mt-1">
                by
                <a href="https://github.com/riipandi" target="_blank" rel="noopener" class="hover:underline">
                    Aris Ripandi.
                </a>
				Ported from <a href="https://web3templates.com/templates/astroship-starter-website-template-for-astro" target="_blank" rel="noopener" class="hover:underline">web3templates.com</a>
            </p>
        </div>
		{% include "theme-switcher.njk" %}
    </div>
</footer>
