---
layout: base
eleventyNavigation:
  key: About
  order: 1
---

<div class="mt-16 text-center">
    <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight dark:text-gray-200">
        About
    </h1>
    <p class="text-lg mt-4 text-gray-600 dark:text-gray-400">
        We are a small passionate team.
    </p>
</div>
<div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
    <h2 class="font-bold text-3xl text-gray-800 dark:text-gray-200">
        Empowering the world with Eleventy.
    </h2>
    <p class="text-lg leading-relaxed text-gray-500 dark:text-gray-400">
        We're a multi-cultural team from around the world! We come from diverse backgrounds, bringing different personalities,
        experiences and skills to the job. This is what makes our team so special.
    </p>
</div>
<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
    <div class="group">
        <div class="w-full aspect-square">
            <picture>
                <source
                    srcset="https://images.unsplash.com/photo-1580489944761-15a19d654956?&amp;fit=crop&amp;w=280"
                    type="image/webp"
                    sizes="(max-width: 800px) 100vw, 400px">
                <img
                    src="https://images.unsplash.com/photo-1580489944761-15a19d654956?&amp;fit=crop&amp;w=280"
                    alt="Janette Lynch"
                    sizes="(max-width: 800px) 100vw, 400px"
                    class="w-full rounded-md rounded transition group-hover:-trangray-y-1 group-hover:shadow-xl bg-white object-cover
                        object-center aspect-square"
                    width="400"
                    height="400"
                    loading="lazy"
                    decoding="async">
            </picture>
        </div>
        <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-800 dark:text-gray-200">Janette Lynch</h2>
            <h3 class="text-sm text-gray-500 dark:text-gray-400">Senior Director</h3>
        </div>
    </div>
    <div class="group">
        <div class="w-full aspect-square">
            <picture>
                <source
                    srcset="https://images.unsplash.com/photo-1633332755192-727a05c4013d?&amp;fit=crop&amp;w=280"
                    type="image/webp"
                    sizes="(max-width: 800px) 100vw, 400px">
                <img
                    src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?&amp;fit=crop&amp;w=280"
                    alt="Marcell Ziemann"
                    sizes="(max-width: 800px) 100vw, 400px"
                    class="w-full rounded-md rounded transition group-hover:-trangray-y-1 group-hover:shadow-xl bg-white object-cover
                        object-center aspect-square"
                    width="400"
                    height="400"
                    loading="lazy"
                    decoding="async">
            </picture>
        </div>
        <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-800 dark:text-gray-200">Marcell Ziemann</h2>
            <h3 class="text-sm text-gray-500 dark:text-gray-400">Principal Strategist</h3>
        </div>
    </div>
    <div class="group">
        <div class="w-full aspect-square">
            <picture>
                <source
                    srcset="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?&amp;fit=crop&amp;w=280"
                    type="image/webp"
                    sizes="(max-width: 800px) 100vw, 400px">
                <img
                    src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?&amp;fit=crop&amp;w=280"
                    alt="Robert Palmer"
                    sizes="(max-width: 800px) 100vw, 400px"
                    class="w-full rounded-md rounded transition group-hover:-trangray-y-1 group-hover:shadow-xl bg-white object-cover
                        object-center aspect-square"
                    width="400"
                    height="400"
                    loading="lazy"
                    decoding="async">
            </picture>
        </div>
        <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-800 dark:text-gray-200">Robert Palmer</h2>
            <h3 class="text-sm text-gray-500 dark:text-gray-400">Marketing Engineer</h3>
        </div>
    </div>
</div>
