---
layout: base
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
    <div class="py-6 md:order-1 hidden md:block">
        <img
            src="https://illustrations.popsy.co/sky/man-riding-a-rocket.svg"
            class="dark:invert"
            alt="Hero illustration"
            loading="eager"
            width="520"
            height="424"
            decoding="async">
    </div>
    <div>
		<h1 x-data="{
			startingAnimation: { opacity: 0, scale: 2 },
			endingAnimation: { opacity: 1, scale: 1, stagger: 0.07, duration: 1, ease: 'expo.out' },
			addCNDScript: true,
			animateText() {
				$el.classList.remove('invisible');
				gsap.fromTo($el.children, this.startingAnimation, this.endingAnimation);
			},
			splitCharactersIntoSpans(element) {
				text = element.innerHTML;
				modifiedHTML = [];
				for (var i = 0; i < text.length; i++) {
					attributes = '';
					if(text[i].trim()){ attributes = 'class=\'inline-block\''; }
					modifiedHTML.push('<span ' + attributes + '>' + text[i] + '</span>');
				}
				element.innerHTML = modifiedHTML.join('');
			},
			addScriptToHead(url) {
				script = document.createElement('script');
				script.src = url;
				document.head.appendChild(script);
			}
		}"
		x-init="
			splitCharactersIntoSpans($el);
			if(addCNDScript){
				addScriptToHead('https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js');
			}
			gsapInterval = setInterval(function(){
				if(typeof gsap !== 'undefined'){
					animateText();
					clearInterval(gsapInterval);
				}
			}, 5);
		"
		class="invisible text-5xl dark:text-white lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
		>
            Marketing website done with Eleventy
        </h1>
        <p class="text-lg mt-4 text-gray-600 dark:text-gray-400 max-w-xl">
            v60 is a starter template for startups, marketing websites &amp; landing pages.<wbr>
			Built with Eleventy, Vite, and TailwindCSS. You can quickly create any website with
			this starter.
        </p>
        <div class="mt-6 flex flex-col sm:flex-row gap-3">
            <a
                href="https://github.com/riipandi/v60/releases"
                target="_blank"
                rel="noopener"
                class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white
                    hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
                <svg viewbox="0 0 24 24" class="text-white w-5 h-5">
                    <path
                        fill="currentColor"
                        d="M18.944 11.112C18.507 7.67 15.56 5 12 5 9.244 5 6.85 6.61 5.757 9.149 3.609 9.792 2 11.82 2 14c0 2.657 2.089 4.815
                            4.708 4.971V19H17.99v-.003L18 19c2.206 0 4-1.794 4-4a4.008 4.008 0 0 0-3.056-3.888zM8 12h3V9h2v3h3l-4 5-4-5z"></path>
                </svg>
                Download for Free
            </a>
            <a
                href="https://github.com/riipandi/v60"
                rel="noopener"
                target="_blank"
                class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2
                    border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center">
                <svg viewbox="0 0 24 24" class="text-black w-4 h-4">
                    <path
                        fill="currentColor"
                        fill-rule="evenodd"
                        d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481
                            0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605
                            1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084
                            2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979
                            1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1
                            2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33
                            4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379
                            22 11.974 22 6.465 17.535 2 12.026 2z"
                        clip-rule="evenodd"></path>
                </svg>
                GitHub Repo
            </a>
        </div>
    </div>
</main>
<div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight dark:text-gray-200">
        Everything you need to start a website
    </h2>
    <p class="text-lg mt-4 text-gray-600 dark:text-gray-500">
        This template comes with batteries included. It takes the best parts of state-of-the-art tools and adds its own
        innovations.
    </p>
</div>
<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <svg viewbox="0 0 24 24" class="text-white">
                <path
                    fill="currentColor"
                    d="M20 6h-3V4c0-1.103-.897-2-2-2H9c-1.103 0-2 .897-2 2v2H4c-1.103 0-2 .897-2 2v3h20V8c0-1.103-.897-2-2-2zM9 4h6v2H9V4zm5
                        10h-4v-2H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-8v2z"></path>
            </svg>
        </div>
        <div>
            <h3 class="font-semibold text-lg">Bring Your Own Framework</h3>
            <p class="text-gray-500 mt-2 leading-relaxed">Build your site using React, Svelte, Vue, Preact, web components, or just
                plain ol' HTML + JavaScript.</p>
        </div>
    </div>
    <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <svg viewbox="0 0 24 24" class="text-white">
                <path
                    fill="currentColor"
                    d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zm-3 3h2v2h-2V6zm-3
                        0h2v2h-2V6zM4 19v-9h16.001l.001 9H4z"></path>
            </svg>
        </div>
        <div>
            <h3 class="font-semibold text-lg">100% Static HTML, No JS</h3>
            <p class="text-gray-500 mt-2 leading-relaxed">
				Eleventy renders your entire page to static HTML, removing all JavaScript
                from your final build by default.
			</p>
        </div>
    </div>
    <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <svg viewbox="0 0 24 24" class="text-white">
                <path
                    fill="currentColor"
                    d="M20 6c0-2.168-3.663-4-8-4S4 3.832 4 6v2c0 2.168 3.663 4 8 4s8-1.832 8-4V6zm-8 13c-4.337 0-8-1.832-8-4v3c0 2.168 3.663
                        4 8 4s8-1.832 8-4v-3c0 2.168-3.663 4-8 4z"></path>
                <path fill="currentColor" d="M20 10c0 2.168-3.663 4-8 4s-8-1.832-8-4v3c0 2.168 3.663 4 8 4s8-1.832 8-4v-3z"></path>
            </svg>
        </div>
        <div>
            <h3 class="font-semibold text-lg">On-Demand Components</h3>
            <p class="text-gray-500 mt-2 leading-relaxed">
				Need some JS? Eleventy can automatically hydrate interactive components when
                they become visible on the page.
            </p>
        </div>
    </div>
    <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <svg viewbox="0 0 24 24" class="text-white">
                <path
                    fill="currentColor"
                    d="M21 10.975V8a2 2 0 0 0-2-2h-6V4.688c.305-.274.5-.668.5-1.11a1.5 1.5 0 0 0-3 0c0 .442.195.836.5 1.11V6H5a2 2 0 0 0-2
                        2v2.998l-.072.005A.999.999 0 0 0 2 12v2a1 1 0 0 0 1 1v5a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-5a1 1 0 0 0 1-1v-1.938a1.004
                        1.004 0 0 0-.072-.455c-.202-.488-.635-.605-.928-.632zM7 12c0-1.104.672-2 1.5-2s1.5.896 1.5 2-.672 2-1.5 2S7 13.104 7
                        12zm8.998 6c-1.001-.003-7.997 0-7.998 0v-2s7.001-.002 8.002 0l-.004 2zm-.498-4c-.828 0-1.5-.896-1.5-2s.672-2 1.5-2
                        1.5.896 1.5 2-.672 2-1.5 2z"></path>
            </svg>
        </div>
        <div>
            <h3 class="font-semibold text-lg">Broad Integration</h3>
            <p class="text-gray-500 mt-2 leading-relaxed">Eleventy supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind,
                Markdown, MDX, and any other npm packages.</p>
        </div>
    </div>
    <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <svg viewbox="0 0 24 24" class="text-white">
                <path
                    fill="currentColor"
                    d="M6 22h12c.178 0 .348-.03.512-.074l-3.759-3.759A4.966 4.966 0 0 1 12 19c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5
                        5a4.964 4.964 0 0 1-.833 2.753l3.759 3.759c.044-.164.074-.334.074-.512V8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2z"></path>
                <circle cx="12" cy="14" r="3" fill="currentColor"></circle>
            </svg>
        </div>
        <div>
            <h3 class="font-semibold text-lg">SEO Enabled</h3>
            <p class="text-gray-500 mt-2 leading-relaxed">Automatic sitemaps, RSS feeds, pagination and collections take the pain
                out of SEO and syndication. It just works!</p>
        </div>
    </div>
    <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <svg viewbox="0 0 24 24" class="text-white">
                <path
                    fill="currentColor"
                    d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20
                        21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path>
            </svg>
        </div>
        <div>
            <h3 class="font-semibold text-lg">Community</h3>
            <p class="text-gray-500 mt-2 leading-relaxed">
                Eleventy is an open source project powered by hundreds of contributors making thousands of individual contributions.
            </p>
        </div>
    </div>
</div>
<div class="mt-24">
    <h2 class="text-center text-gray-700 text-2xl font-semibold dark:text-gray-400">Built with current technologies</h2>
    <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap bg-gray-100 dark:bg-gray-900/60 mx-auto max-w-3xl rounded-lg py-6">
        <svg class="h-8 md:h-12" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M37.77 0L34.5567 35.9959L20.1134 40L5.70979 36.0015L2.5 0H37.77Z" fill="black"/>
            <path d="M20.135 36.9394L31.8059 33.7038L34.5519 2.94373H20.135V36.9394Z" fill="black"/>
            <path
                d="M13.8886 11.7746H20.135V7.35913H9.06316L9.16886 8.54373L10.2541 20.7115H20.135V16.2961H14.2923L13.8886 11.7746Z"
                fill="white"/>
            <path
                d="M14.8837 22.9193H10.4514L11.07 29.8522L20.1146 32.363L20.135 32.3574V27.7635L20.1156 27.7686L15.1981 26.4409L14.8837
                    22.9193Z"
                fill="white"/>
            <path
                d="M20.1198 20.7115H25.5569L25.0443 26.438L20.1198 27.7673V32.3609L29.1716 29.8521L29.238 29.1063L30.2756 17.4819L30.3834
                    16.2961H20.1198V20.7115Z"
                fill="#A0A0A0"/>
            <path
                d="M20.1198 11.7638V11.7746H30.7851L30.8736 10.7821L31.0749 8.54373L31.1805 7.35913H20.1198V11.7638Z"
                fill="#A0A0A0"/>
        </svg>
        <svg class="h-8 md:h-12" viewbox="0 0 15694 15694" xmlns="http://www.w3.org/2000/svg"><rect fill="#222" height="100%" width="100%"/><path
                d="m5622 11381c-90 0-135-120-135-361v-5951c0-115-23-169-70-162l-431 108c-79 7-118-72-118-237v-517c0-143 43-224
                    129-242l1422-366c11-3 27-5 48-5 79 0 118 84 118 253v7120c0 241-47 361-140 361zm3683 11c-144
                    0-268-10-374-30s-216-65-331-135-209-166-283-288-134-293-180-512-70-479-70-781v-2762c0-72-20-108-59-108h-334c-90
                    0-135-86-135-258v-291c0-176 45-264 135-264h334c39 0 59-48 59-145l97-2095c11-190 57-285 140-285h539c90 0 135 95 135
                    285v2095c0 97 21 145 65 145h687c90 0 135 88 135 264v291c0 172-45 258-135 258h-689c-25 0-42 6-51 19-9 12-13 42-13
                    89v2779c0 208 13 382 40 520s66 240 118 304 104 108 156 129c52 22 116 32 191 32h382c97 0 145 67 145 199v323c0 147-52
                    221-156 221zm2067 646c82 0 154-67 215-202s92-326 92-574c0-58-36-257-108-598l-1056-4389c-7-50-11-90-11-119 0-129 27-194
                    81-194h652c50 0 91 17 124 51s58 103 75 207l700 3705c14 43 23 65 27 65 14 0 22-20 22-59l549-3695c14-108 37-180
                    67-218s69-57 116-57h452c61 0 92 70 92 210 0 32-4 74-11 124l-959 4993c-75 413-158 729-248 948s-190 368-302 447a776 776 0 0
                    1 -442 124h-54c-291 0-488-77-592-232-29-32-43-115-43-248 0-266 43-399 129-399 7 0 72 18 194 54 124 38 203 56 239
                    56zm-8460-647c-90 0-135-120-135-361v-5951c0-115-23-169-70-162l-431 108c-79 7-118-72-118-237v-517c0-143 43-224
                    129-242l1423-367c11-3 27-5 48-5 79 0 118 84 118 253v7120c0 241-47 361-140 361z"
                fill="#fff"
                stroke="#fff"
                stroke-miterlimit="10"
                stroke-width="280"/>
        </svg>
        <svg viewbox="0 0 24 24" class="h-8 md:h-14 dark:text-gray-200">
            <path
                fill="currentColor"
                d="M12.001 4.8c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624C13.666 10.618 15.027 12 18.001
                    12c3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C16.337 6.182 14.976 4.8 12.001 4.8zm-6
                    7.2c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624 1.177 1.194 2.538 2.576 5.512 2.576 3.2 0
                    5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C10.337 13.382 8.976 12 6.001 12z"></path>
        </svg>
        <svg viewbox="0 0 24 24" class="h-8 md:h-16 dark:text-gray-200">
            <path
                fill="currentColor"
                d="m24 12-5.72 5.746-5.724-5.741 5.724-5.75L24 12zM5.72 6.254 0 12l5.72 5.746h11.44L5.72 6.254z"></path>
        </svg>
        <svg viewbox="0 0 24 24" class="h-8 md:h-12 dark:text-gray-200">
            <path fill="currentColor" d="M24 22.525H0l12-21.05 12 21.05z"></path>
        </svg>
    </div>
</div>
<div class="bg-black dark:bg-gray-900/60 p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center
        text-center">
    <h2 class="text-white text-4xl md:text-6xl tracking-tight">
        Build faster websites.
    </h2>
    <p class="text-gray-400 mt-4 text-lg md:text-xl">
        Pull content from anywhere and serve it fast with Eleventy's next-gen island architecture.
    </p>
    <div class="flex mt-5">
        <a
            href="#"
            class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white text-black
                border-2 border-transparent">
            Get Started
        </a>
    </div>
</div>
