---
layout: base
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
---
<div class="w-full max-w-screen-2xl mx-auto my-0 px-4 py-8">
    <h1>Posts</h1>
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
</div>
