<!DOCTYPE html>
<html lang="{{ meta.lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ meta.title }}</title>
		{% include "meta.njk" %}
		<link rel="preconnect" href="https://cdn.jsdelivr.net">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body class="bg-white dark:bg-black dark:text-gray-100 font-sans">
        <a href="#main" class="skiplink">Skip to main content</a>
        {% include "header.njk" %}
        <div class="max-w-screen-xl mx-auto px-5">
            {{ content | safe }}
        </div>
        {% include "footer.njk" %}
        <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
    </body>
</html>
