---
layout: base
---

<div class="mx-auto max-w-3xl mt-14">
    <span class="text-primary-400 uppercase tracking-wider text-sm font-medium">
        Courses
    </span>
    <h1 class="text-4xl lg:text-5xl font-bold dark:text-gray-200 lg:tracking-tight mt-1 lg:leading-tight">
        {{ title }}
    </h1>
    <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
            John Doe
        </span>
        <span class="text-gray-400">•</span>
        <time class="text-gray-400" datetime="2022-11-09T16:39:00.000Z">
            Wed Nov 09 2022
        </time>
        <span class="text-gray-400 hidden md:block">•</span>
        <div class="w-full md:w-auto flex flex-wrap gap-3">
            <span class="text-sm text-gray-500">#webdev</span>
            <span class="text-sm text-gray-500">#tailwindcss</span>
            <span class="text-sm text-gray-500">#frontend</span>
        </div>
    </div>
</div>

<article class="mx-auto prose prose-lg mt-6 max-w-3xl dark:text-gray-200">
    {{ content | safe }}
</article>

<div class="mb-7 mt-8 flex justify-center">
    <a href="/blog" class="bg-primary-100/80 rounded-full px-5 py-2 text-sm text-primary-600 dark:text-primary-500">&larr;
        View all posts
	</a>
</div>

<div class="mx-auto mt-8 max-w-3xl">
    <div class="rounded-2xl bg-gray-50 px-8 py-8 text-gray-500 dark:bg-gray-900 dark:text-gray-400">
        <div class="flex flex-wrap items-start sm:flex-nowrap sm:space-x-6">
            <div class="relative mt-1 h-24 w-24 flex-shrink-0 ">
                <a href="/author/erika-oliver">
                    <img
                        alt="John Doe"
                        loading="lazy"
                        decoding="async"
                        data-nimg="fill"
                        class="rounded-full object-cover"
                        sizes="96px"
                        src="https://images.unsplash.com/photo-1608889175123-8ee362201f81?q=80&w=3280&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"></a>
                </div>
                <div>
                    <div class="mb-3">
                        <h3 class="text-lg font-medium text-gray-800 dark:text-gray-300">About John Doe</h3>
                    </div>
                    <div>
                        <p>
							John Doe is a successful entrepreuner. He is the founder of Acme Inc, a bootstrapped business
							that builds affordable SaaS tools for local news, indie publishers, and other small businesses.
						</p>
                    </div>
                    <div class="mt-3">
                        <a href="/author/john-doe" class="bg-primary-100/80 rounded-lg py-2 px-4 text-xs text-primary-600 dark:text-primary-500">
							View Profile
						</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
